[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/mocks"]
	path = test/test_helper/mocks
	url = https://github.com/jasonkarns/bats-mock
